$color-one: grey;
$color-two: darkgrey;
$color-bg: teal;

.wrapper {
    background-color: beige;

    %share-style {
        list-style-type: square;
        color: #2b2a2a;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 200;
        text-transform: capitalize;
        padding: 1.4rem auto;
        margin: .9rem auto;
        border-bottom: dotted 1px #2b2b2b;

    }
    .list {
        display: block;
        width: auto;
        background: lightseagreen;
        padding: 3rem 2rem;

        &_item {
            @extend %share-style;

            &-info {
                background-color: #e6e68b;
            }
        }

    }
}
